<div class="main-header">
    <div class="header-container">
        
        <div class="quiz-header">
            <h1>
                {{quizname}}
            </h1>
            <div class="main-user-data">
                <p>Сколько студентов прошли: {{studentscount}}</p>
                <p>Среднее время выполнения: {{solveTimeAvg}}</p>
                <p>Средний балл: {{gradeavg}}</p>
            </div>
        </div>
    </div>
    {{{quizUsersTable}}}
</div>

<div class="gradereport-ppreport-container">
    <div class="charts-container">
        <div class="time-chart">
            <h4>График времени выполнения</h4>
            {{{timeChart}}}
        </div>
        
        <div class="grade-chart">
            <h4>График оценок</h4>
            {{{gradeChart}}}
        </div>

        <div class="attempts-progress-chart">
            <h4>Прогресс по попыткам</h4>
            {{{attemptsProgressChart}}}
        </div>

    </div>

</div>