<div class="main-header">
    <div class="header-container">
        
        <div class="quiz-header">
            <h1>
                {{quizname}}
            </h1>
            <div class="main-user-data">
                <p>Сколько студентов прошли: {{studentscount}}</p>
                <p>Среднее время выполнения: {{solveTimeAvg}}</p>
                <p>Средний балл: {{gradeavg}}</p>
            </div>
        </div>
    </div>
    {{{quizUsersTable}}}
</div>