<div>
    <div class="user-header">
        <h1>
            {{firstname}} {{lastname}} ({{email}})
        </h1>
    </div>
    <div class="main-user-data">
        <p>Количество выполненных заданий: {{}}</p>
        <p>Средний балл за задание: {{}}</p>
        <p>Общий балл за задание: {{}}</p>
    </div>
    {{{chart}}}
</div>